body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .calculator {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
  }
  
  #display {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    text-align: right;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
  }
  
  button {
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius:10%;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #bd2828;
  }